<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <title th:text="${ title }"/>

    <meta name="description" content="Presentation - proposal about Model-driven design and nanoservice architecture."/>
    <meta name="author" content="Pavel Dionisev. CERN"/>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"/>

    <link rel="stylesheet" href="/3rdparty/reveal-js/css/bootstrap.css"/>
    <link rel="stylesheet" href="/3rdparty/reveal-js/css/reveal.css"/>
    <link rel="stylesheet" href="/3rdparty/reveal-js/css/theme/night.css" id="theme"/>

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="/3rdparty/reveal-js/lib/css/zenburn.css" />

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match( /print-pdf/gi ) ? '/3rdparty/reveal-js/css/print/pdf.css' : '/3rdparty/reveal-js/css/print/paper.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="/3rdparty/reveal-js/lib/js/html5shiv.js"></script>
    <![endif]-->

    <style>
        .collapsable.fragment:not(.visible) {
            display: none;
        }
        .two-columns ul {
            vertical-align: top;
        }
        #slideName {
            position: fixed;
            bottom: 55px;
            left: 1em;
            font-size: 30px;
        }
        #timeLeft {
            display: none;
            position: fixed;
            top: 25px;
            left: 1em;
            font-size: 10px;
            color: green;
        }
        #timeLeft.overdue {
            color: red;
        }
        body #slideName {
            color: darkorange;
        }
        body section {
            color: #ffc300;
        }
        body.lightTheme #slideName {
            color: #0073ff;
        }
        body.lightTheme section {
            color: #003cff;
        }
    </style>
</head>
<body>
<div id="slideName"></div>
<div id="timeLeft"></div>
<div class="reveal">
    <!-- Any section element inside of this container is displayed as a slide -->
    <section class="slides">
        <section th:replace="slides">Hello world</section>
    </section>
</div>

<script src="/3rdparty/reveal-js/js/jquery-1.11.3.min.js"></script>
<script src="/3rdparty/reveal-js/lib/js/head.min.js"></script>
<script src="/3rdparty/reveal-js/js/reveal.js"></script>

<script>
    // Full list of configuration options available at:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'concave', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
            { src: '/3rdparty/reveal-js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
            { src: '/3rdparty/reveal-js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: '/3rdparty/reveal-js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: '/3rdparty/reveal-js/plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
            { src: '/3rdparty/reveal-js/plugin/zoom-js/zoom.js', async: true },
            { src: '/3rdparty/reveal-js/plugin/notes/notes.js', async: true }
        ]
    });
    var themes = {
        darkTheme: "/3rdparty/reveal-js/css/theme/night.css",
        lightTheme: "/3rdparty/reveal-js/css/theme/white.css",
    };

    var isLightTheme = false;
    var switchCodeTheme = function() {
        var currentTheme = isLightTheme ? "neat" : "vibrant-ink";
        console.log("setting theme to: " + currentTheme);
        $("iframe").each (function (_, it) {
            var iframeDocument = it.contentDocument || it.contentWindow.document;
            $(iframeDocument.body).toggleClass("lightTheme", isLightTheme);
            if (it.contentWindow.codeMirror != undefined) {
                it.contentWindow.codeMirror.setOption("theme", currentTheme);
            }
        });
    };

    var switchTheme = function() {
        isLightTheme = !isLightTheme;
        var currentTheme = isLightTheme ? "lightTheme" : "darkTheme";
        document.getElementById('theme').setAttribute("href", themes[currentTheme]);
        var $body = $("body");
        $body.toggleClass("lightTheme", isLightTheme);
        switchCodeTheme();
    };

    var startTime = new Date().getTime();
    var deadlineSec = 45 * 60;
    var slideDeadline = deadlineSec;

    function elapsedSecs() {
        return (new Date().getTime() - startTime) / 1000;
    }

    function updateTickCount() {
        var totalTime = parseFloat(deadlineSec - elapsedSecs()).toFixed(2);
        var slideTime = parseFloat(slideDeadline - elapsedSecs()).toFixed(2);

        var $timeLeft = $("#timeLeft");
        if (slideTime > 0)
            $timeLeft.toggleClass("overdue", true);
        $timeLeft.html(totalTime + "(" + slideTime + ")");
    }

//    var intervalId = setInterval(updateTickCount, 100);
//    clearInterval(intervalId);

    $(document).ready( function (){
        $(document).keydown(function (eventObj) {
           var keySpace = 13;
           var keyT = 84;
           var keyS = 83;
           if (eventObj.keyCode == keySpace) {
               $("section.present:not(:has(section.present)) iframe")[0].contentWindow.codeMirror.focus()
           }
           if (eventObj.keyCode == keyT) {
               switchTheme();
           }
           if (eventObj.keyCode == keyS) {
               //startTimer
           }
        });
    });

    Reveal.addEventListener( 'slidechanged', function( event ) {
        slideDeadline = parseFloat($(event.currentSlide).attr("deadlineSec"));
        var title = $(event.currentSlide).attr("title");
        if (title)
            $("#slideName").html(event.indexh + ". " + title);
        else
            $("#slideName").html("");
    } );
</script>
</body>
</html>
